.card {
  border: 1px solid #eee;
  border-radius: 16px;
  overflow: hidden;
  background: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.imageBox {
  position: relative;
}

.img {
  width: 100%;
  height: 220px;
  object-fit: contain;
  background: #f5f5f5;
  display: block;
}

.nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.55);
  color: white;
  border: none;
  width: 34px;
  height: 34px;
  cursor: pointer;
  border-radius: 50%;
  font-size: 20px;
  line-height: 34px;
}

.left { left: 8px; }
.right { right: 8px; }

/* Content */
.content {
  padding: 14px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1;
  color: black;
}

.title { margin: 0; font-size: 16px; }
.desc { margin: 0; color: #444; font-size: 13px; }
.price { margin: 0; font-weight: 700; font-size: 16px; }

.meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  font-size: 13px;
}

.avai1 { color: #0a7a2f; }
.avai2 { color: #b00020; }

.btn {
  margin-top: auto;
  text-decoration: none;
  text-align: center;
  border: 1px solid #111;
  padding: 10px 12px;
  border-radius: 12px;
  color: #111;
  background-color:#D71920;
  color: white;
}

.share {
  display: flex;
  gap: 10px;
}

.shareBtn {
  flex: 1;
  text-decoration: none;
  text-align: center;
  border: 1px solid #ddd;
  padding: 10px 12px;
  border-radius: 12px;
  color: #111;
}

.ws{
  background-color: #25D366;
}

.tg{
  background-color: #0088CC;
}