#up{
    background-color: black;
    color: rgb(131, 121, 121);
    width: 100%;
    height: 40px;
    padding-top: 15px;
    padding-left: 30px;
    font-size: 20px;
}

#center{
    width: 50%;
    height: 200px;
    margin-left: 25%;
    margin-top: 40px;

    /* border: 1px solid red; */
}

#center_title{
    font-size: 30px;
    width: 100%;
    /* border: 1px solid red; */
}

#center_input{
    font-size: 20px;
    margin-left: 10%;
    margin-top: 25px;
    margin-bottom: 40px;
    width: 60%;
    /* border: 1px solid red; */
}

#center_button{
    font-size: 20px;
    background-color: rgb(0, 0, 255);
    color: white;
    width: 8%;
    margin-left: 20px;
    height: 30px;
}

.center_block{
    height: 50px;
    /* border: 1px solid red; */
}